/* index.css */

/* Header styles */
.head {
  text-align: center;
  padding: 20px;
  background-color: lightblue

}

.head h1 {
  margin: 0;
}

.head nav ul {
  padding: 0;
  list-style: none;
}

.head nav ul li {
  display: inline;
  margin-right: 10px;
}

.head nav ul li a {
  color: white;
  text-decoration: none;
}

.head nav ul li a:hover {
  text-decoration: underline;
}

/* Card styles */
/* index.css */

/* Card styles */
/* index.css */

/* Card styles */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 250px; /* Increase width */
  height: 300px; /* Increase height */
}

.card img {
  width: 100%;
  height: 70%; /* Adjust height to accommodate text */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: contain; /* Ensure entire image is visible */
}

.card .card-info {
  padding: 10px;
}

.card .card-title {
  margin: 0;
  font-weight: bold;
}

.card .card-text {
  margin: 0;
}


/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
